<p>Welcome to Darbar Indian Cuisine, where northern and southern Indian cuisine combine to bring you the best tastes of India. From our piping hot potato fritters to our delicious buffets and dinners to our traditional desserts, Darbar serves up some of the “best prepared, most elegant, and simply best tasting Indian food” in the Bay Area. Come to Darbar Indian Cuisine, where “you can eat like a king while being treated like a prince.”</p>

<p>Darbar Indian Restaurant serves a generous lunch buffet from 11:00 a.m. to 2:30 p.m., Monday through Friday.

Choose from among two dozen delicious dishes, which include four vegetarian and four meat entrees.

The dishes change daily, so stop by often to sample our wide range of Indian cuisine.</p>

<p>Darbar is proud to serve the best Indian wines from Sula Vineyards, which has established a reputation for crafting India’s finest white wines.</p>
