<div class="col-md-12">
<div class="col-md-6">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3167.674363074952!2d-122.16733708469172!3d37.444796779820884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbb371608897b%3A0xd5d269a756b2bea9!2sDarbar+Indian+Cuisine!5e0!3m2!1sen!2sus!4v1447102035421" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="col-md-2"></div>
<div class="col-md-4">
	<address>
	<h4><strong><i>Address</i></strong></h4>
	<strong> 129 Lytton Avnue Palo Alto, CA - 94301 </strong>
	<strong> Phone: </strong> (650) 321-6688, <strong> Fax: </strong>(650) 325-3586
	<hr>
</address>

<form>
  <div class="form-group">
  	<strong><i> Please enter your comments or feedback here </i></strong>
    <label for="FirstName"></label>
    <input type="text" class="form-control" id="FirstName" placeholder="Please enter your First Name">
  
    <label for="LastName"></label>
    <input type="text" class="form-control" id="LastName" placeholder="Please enter your Last Name">

    <label for="TextArea"></label>
    <textarea class="form-control" rows="5" cols="42" placeholder="Please leave your comment here"></textarea>
  </div>
  <button type="cancel" class="btn btn-danger pull-left">Cancel</button>
  <button type="submit" class="btn btn-success pull-right">Submit</button>
</form>
</div>

<div class="col-md-12" style="margin-top:5px">
	<hr />
	<div class="col-md-6">
		<article><strong>Directions from U.S. 101 Freeway</strong><br>
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true">&nbsp;Head northwest on US-101 N -- 0.6 mi</span><br>
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true">&nbsp;Take exit 404B for Willow Rd W -- 0.1 mi </span><br>
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true">&nbsp;Merge onto CA-114 S/Willow Rd -- 377 ft </span><br>
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true">&nbsp;Continue straight onto Willow Rd -- 0.1 mi </span><br>
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true">&nbsp;Continue straight to stay on Willow Rd -- 0.9 mi </span><br>
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true">&nbsp;Use left 2 lanes to turn left onto Middlefield Rd 0.2 mi </span><br>
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true">&nbsp;Turn right onto Hawthorne Ave -- 0.6 mi</span><br>
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true">&nbsp;Turn left onto High St -- 0.2 mi</span><br>
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true">&nbsp;Turn right at the 2nd cross street onto Lytton Ave </span><br>
			<span class="glyphicon glyphicon-info-sign" aria-hidden="true"><strong>&nbsp;Destination will be on the right</strong></span>
		</article>
	</div>
	<div class="col-md-6">
		<article><strong>Directions from HP Pavilion or Stanford University</strong><br>
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true">&nbsp;Head northeast on Addison Ave toward Waverley St 131ft</span><br>
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true">&nbsp;Turn right at the 1st cross street onto Waverley St 0.3mi </span><br>
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true">&nbsp;Turn right onto Embarcadero Rd -- 0.3 mi </span><br>
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true">&nbsp;Slight right to stay on Embarcadero Rd -- 469 ft </span><br>
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true">&nbsp;Turn right onto Alma St -- 0.6 mi </span><br>
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true">&nbsp;Turn right onto Lytton Ave</span><br>
			<span class="glyphicon glyphicon-info-sign" aria-hidden="true"><strong>&nbsp;Destination will be on the left</strong></span>
		</article>
	</div>
</div>
</div>