<div ng-controller="MenuCtrl">

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a data-target="#Appetizers" aria-controls="Appetizers" role="tab" data-toggle="tab">Appetizers</a></li>
    <li role="presentation"><a data-target="#VegetarianEntriees" aria-controls="VegetarianEntriees" role="tab" data-toggle="tab">Vegetarian Entriees</a></li>
    <li role="presentation"><a data-target="#NonVegetarianEntriees" aria-controls="NonVegetarianEntriees" role="tab" data-toggle="tab">Non-Vegetarian Entriees</a></li>
    <li role="presentation"><a data-target="#Desserts" aria-controls="Desserts" role="tab" data-toggle="tab">Desserts</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" >
    <div role="tabpanel" class="tab-pane active" id="Appetizers">     
         <div class="">
            <hr>            
            <div ng-repeat="item in items">
              <h3><strong>Vegetarian Appetizers</strong></h3>
              <div class="thumbCols">
                <div class="thumbnails" ng-repeat="val in item.Appetizers.Vegetarian">              
                <img class="col-sm-4" src="favicon.png" alt="favicon">
                <div class="caption thumbCols">
                  <p>{{val.name}}</p>
                  <p>{{val.Description}}</p>
                </div>
              </div>
              </div>

              <hr>
              <h3><strong>Non-Vegetarian Appetizers</strong></h3>
              <div class="thumbCols">
              <div class="thumbnail" ng-repeat="val in item.Appetizers.NonVegetarian" >
                <img src="favicon.png" alt="favicon">
                <div class="caption" >
                  <h3>{{val.name}}</h3>
                  <p>{{val.Description}}</p>
                </div>
              </div>
              </div>

              <hr>
              <h3><strong>South Indian Favorites</strong></h3>
              <div class="thumbCol">
              <div class="thumbnail" ng-repeat="val in item.Appetizers.South_Indian_Favorites" >
                <img src="favicon.png" alt="favicon">
                <div class="caption" >
                  <h3>{{val.name}}</h3>
                  <p>{{val.Description}}</p>
                </div>
              </div>
              </div>
            </div>
          </div>     
        </div>
    
    

    







    
    <div role="tabpanel" class="tab-pane" id="VegetarianEntriees">
    	<p> This is Vegetarian tab </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="NonVegetarianEntriees">
    	<p> This is Non-Vegetarian Tab </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="Desserts">
    	<p> This is Desserts tab </p>
    </div>
  </div>

</div>

     