<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
</ul>

<uib-tabset justified="true">
    <uib-tab heading="Justified">Justified content</uib-tab>
    <uib-tab heading="SJ">Short Labeled Justified content</uib-tab>
    <uib-tab heading="Long Justified">Long Labeled Justified content</uib-tab>
  </uib-tabset>


<p>this is menu view </p>